.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin:  auto;
  flex-wrap: wrap;
  background-color: #ECF5DF;

}

.start {
  justify-content: flex-start;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}

.min-height {
  min-height: 75%;
}
